{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}
    {%if venue%}

        <p>{{venue.name}}</p></br>
        <img src="{{venue.image.url}}" alt="{{venue.name}}" width="350px" height="350px"></br>
        <p>{{venue.description}}</p>

        {%if request.user == venue.owner%}
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" value="{{venue.id}}" name="Edit Venue" >Edit</button>
                <button type="submit" value="{{venue.id}}" name="Add Images" >Add images</button>
        {%endif%}
        {%for venue_image in venue_images%}
            <a href="{% url 'venue-image' venue.id venue_image.id %}">
                <img src="{{venue_image.image.url}}" alt="{{venue_image}}" width="250px" height="250px"></br>
            </a>
        {%endfor%}

    {%else%}
        <p>Venue doesn't exist.</p>
    {%endif%}
{%endblock%}